# Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_postgres_password

# Mongo
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=your_mongo_root_password

# Redis
REDIS_PASSWORD=your_redis_password

# RabbitMQ
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=your_rabbitmq_password